.registro{
    width: 100%;
    color: black;
    padding-left: 10px;
}
.label{
    margin-right: 500px;
}
.labe{
    margin-right: 9000px;
}
.boton{
    background-color: #343a40;
    color: white;
    border: none;
    width: 100%;
    height: 50px;
}
.bandera:hover{
    width: 205px;
    height: 105px;
}
.ocultar{
    display: none;
}
.mostrar{
    display: block;
}